@charset "UTF-8";
@import 'reset.css';
@import 'text.css';

*
{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */       
}




/*
 
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/pt-sans/PTS55F-webfont.eot');
	src: url('../fonts/pt-sans/PTS55F-webfont_162a16fe.eot') format('embedded-opentype'), url('../fonts/pt-sans/PTS55F-webfont.woff') format('woff'), url('../fonts/pt-sans/PTS55F-webfont.ttf') format('truetype'), url('../fonts/pt-sans/PTS55F-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 
 */ 